doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/kendo.common.min.css')
        link(rel='stylesheet', href='/stylesheets/kendo.bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/backgrid.min.css')
        link(rel='stylesheet', href='/stylesheets/backgrid-paginator.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='/scripts/jquery.min.js')
        script(src='/scripts/bootstrap.min.js')
        script(src='/scripts/underscore-min.js')
        script(src='/scripts/backbone-min.js')
        script(src='/scripts/backgrid.min.js')
        script(src='/scripts/backbone.paginator.min.js')
        script(src='/scripts/backgrid-paginator.min.js')
        script(src='/scripts/knockout-latest.js')
        script(src='/scripts/kendo.web.min.js')
        script(src='/scripts/form.utils.js')
        script(src='/scripts/index.js')
